.post__content > .figure {
    margin: 2rem -6vw;
}

.figure > *:not(.figure__caption) {
    display: block;
}

.figure__caption {
    color: var(--text-light);
    font-family: Lexend;
    font-size: 90%;
    line-height: 1.6;
    padding: 0 1.5rem;
    padding-top: 0.75rem;
    text-align: center;
}

@media screen and (min-width: 70rem) {
    .post__content > .figure {
        align-items: flex-end;
        display: flex;
        flex-direction: row-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    .figure__caption {
        padding: 0;
        text-align: right;
    }

    .figure__caption::before {
        border-top: 5px solid var(--border-line);
        content: '';
        display: block;
        float: right;
        margin-top: -1.5rem;
        width: 3rem;
    }
}

@media screen and (min-width: 70rem) {
    @supports (display: grid) {

        /**
         * 1. Create an area for the figure that spans the width of the grid.
         * 2. Set the same template as in `l-post-wrapper`.
         */

        .post__content > .figure {
            display: grid;
            grid-column: 1 / span 3; /* [1] */
            grid-gap: 1.5rem; /* [2] */
            grid-template-columns: minmax(10rem, 1fr) 4fr minmax(10rem, 1fr); /* [2] */
        }

        .figure__caption {
            grid-column: 1;
            padding-bottom: 1.5rem;
        }

        /**
         * 1. Place only the `img` in the grid column of the post content.
         * 2. Allow the `img` to span two rows so the caption can be placed in the left margin.
         */

        .figure > *:not(.figure__caption) {
            grid-column: 2 / span 1; /* [1] */
            grid-row: span 2; /* [2] */
        }
    }

    /**
     * Adjust caption for flexbox fallback.
     */

    @supports not (display: grid) {
        flex-shrink: 0;
        margin-right: 1.5rem;
        max-width: 12rem;
    }
}