// font sizes and things

html
body
p
li
dl
	font(1em)
	line-height 1.5
	text-rendering optimizeLegibility

dt
	font-weight 500

ul li
	list-style square
	li
		fz(1em)

body
	background bg-secondary-dark

h1
	h1(1.4em)
	a
		text-decoration none

h2
	h2(1.35em)

h3
	h3(1.2em)

h4
	h4(1.2em)

h5
	h5(1.1em)

h6
	h6(1em)

a
a:link
	color link
	text-decoration none
	.site-sidebar-text &
		margin 0 2px
		padding 2px 5px
		background bg-primary
		color link-inverted !important
		font-weight 500

a:visited
	color link-visited
	.site-sidebar-text &
		color c-primary-dark
		font-weight 500

a:hover
	color link-hover
	text-decoration none
	.site-sidebar-text &
		background link-inverted
		color c-primary-dark !important

a:active
	color link-hover
	text-decoration none

b
strong
	bold()

i
em
	italic()

hr
	margin 2em auto
	height 1px
	width 80%
	background c-quarternary-light
	border 0