// font sizes and things

html
body
p
	font(0.95em)

h1
	h1()

h2
	h2()

h3
	h3()

h4
	fz(1.3em)

h5
	fz(1.2em)

h6
	fz(1.1em)

a
a:link
	color link

a:visited
	color link-visited

a:hover
	color link-hover

a:active
	color link-hover

b
strong
	bold()

i
em
	italic()