/**
 * Blockquotes:
 * 
 * Styling for the `blockquote` element.
 */

blockquote {
    border-radius: 0.25rem;
    color: $blockquote-text;
    margin: 2rem 0;
    padding: 2rem 0 2rem 4rem;
    position: relative;
    quotes: '\201C' '\201D' '\2018' '\2019';
}

/**
 * Allowing the first paragraph in the blockquote to sit next to the quotation mark.
 */

blockquote p:first-child {
    display: inline;
}

/**
 * Removing the bottom margin on the last child in the blockquote.
 */

blockquote p:last-child {
    margin-bottom: 0;
}

blockquote::before {
    color: $blockquote-quote;
    content: open-quote;
    display: block;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 8rem;
    line-height: 0;
    margin-left: -4rem;
    margin-top: 3rem;
    position: absolute;
}

blockquote::after {
    background-color: $blockquote-bg;
    border-radius: 0.25rem;
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    right: -2rem;
    top: 0;
    width: 100%;
    z-index: -1;
}

@media screen and (min-width: 65rem) {
    .post__content blockquote {
        border: 3px solid $blockquote-border;
        left: -2rem;
        margin: 4rem 0;
        padding: 1.5rem 1.5rem 2.5rem 5rem;
    }

    .post__content blockquote::before {
        font-size: 11rem;
        margin-left: 0;
        margin-top: 1.5rem;
        position: static;
    }

    .post__content blockquote::after {
        top: -0.5rem;
    }
}