/**
 * Global:
 *
 * Relatively non-complex modifications to base elements.
 */

html {
    background-color: $bg;
    color: $text;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
}

body {
    @media screen and (min-width: 65rem) {
        font-size: 1.15rem;
    }

    @media screen and (min-width: 130rem) {
        font-size: 1.25rem;
        line-height: 2;
    }
}

a {
    color: $link;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: $link-hover;
}

/**
 * 1. Aligns a list item bullet with the top of a link if it spans multiple lines.
 */

li > a {
    vertical-align: top;
}

/**
 * 1. Override navigation-specific and post-specific link styles.
 */

a:focus {
    background-color: $text-highlight;
    color: $text-dark !important; // [1]
    outline: none;
}

a:hover:focus::before {
    content: none;
}

b,
strong {
    font-weight: 700;
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 200%;
    line-height: 1.5;
}

h2 {
    font-family: Poppins, sans-serif;
    font-size: 175%;
    line-height: 1.6;
}

h3 {
    font-family: Poppins, sans-serif;
    font-size: 140%;
    margin-bottom: 0;
}

h4 {
    font-family: Poppins, sans-serif;
    font-size: 125%;

    & + p {
        margin-top: 0.25rem;
    }
}

h5 {
    font-family: Poppins, sans-serif;
    font-size: 110%;
}

h6 {
    font-family: Poppins, sans-serif;
    font-size: 100%;
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

textarea {
    width: 100%;
}

hr {
    border: 0;
    border-top: 2px solid $border-line;
    height: 1px;
    margin: 2rem auto;
    max-width: 5rem;
    width: 100%;
}

small {
    display: inline-block;
    font-size: $font-size-small;
}

dt {
    font-weight: 500;
}

iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}