@mixin font($fontsize) {
	color: $text;
	font-family: 'Fira Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: $fontsize;
	font-weight: 300;
}
	
@mixin h1($fontsize) {
	color: $heading;
	font-size: $fontsize;
	font-weight: 300;
	line-height: 1.25;
	margin: 0.5rem 0;
}

@mixin h2($fontsize) {
	color: $heading;
	font-size: $fontsize;
	font-style: italic;
	font-weight: 300;
	line-height: 1.25;
	margin-top: 1.75rem;
}

@mixin h3($fontsize) {
	color: $heading;
	font-size: $fontsize;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 1.5rem;
}

@mixin h4($fontsize) {
	font-size: $fontsize;
	font-weight: normal;
	margin-bottom: 0;
}

@mixin h5($fontsize) {
	font-size: $fontsize;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 0;
}

@mixin h6($fontsize) {
	font-size: $fontsize;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 1.5rem;
}