// Variables for colours

// Primary
$primary: #50C8C4;
$primary-light: #7cd7d7;
$primary-dark: #3c9493;

// Light background
$bg-primary: #f9f9f9;

// Typography
$text: #444;
$text-light: #888;
$text-alt: #fff;

// Interactive elements
$link: #f16c6c;
$link-inverted: #fff;
$link-visited: #f16c6c;
$link-hover: #444;
$link-active: rgba(200, 200, 200, 0.2);
$link-border: rgba(124, 215, 215, 0.5);
$btn: #eee;
$btn-hover: #ddd;

// Visual additions
$highlight: #67DFD8;
// $code-highlight: #4bb5b5;
$code-color: #555;
$text-highlight: #CEF7F4;
$border: #dedede;