// Variables for colours

// Primary
$primary: #50c8c4;
$primary-light: #7cd7d7;
$primary-dark: #3c9493;

// Primary, Christmas theme
// $primary: #5ebc77;
// $primary-light: #79ca8e;
// $primary-dark: #48a961;

// Primary, Valentines theme
// $primary: #f66294;
// $primary-light: #ff87b1;
// $primary-dark: #d45580;

// Light background
$bg-primary: #f9f9f9;

// Typography
$heading: #50c8c4;
// $heading: #666; // Valentines
$text: #444;
$text-light: #888;
$text-alt: #fff;

// Interactive elements
$link: #f16c6c;
// $link: #f66294; // Valentines
$link-inverted: #fff;
$link-dark: #111;
$link-visited: #f16c6c;
$link-hover: #444;
$link-active: rgba(200, 200, 200, 0.2);
$link-border: rgba(124, 215, 215, 0.5);
// $link-border: rgba(121, 202, 142, 0.5); // Christmas
// $link-border: rgba(232, 133, 167, 0.5); // Valentines
$btn: #eee;
$btn-hover: #ddd;
$main-link-hover: rgba(255, 255, 255, 0.2);
// $main-link-hover: rgba(255, 255, 255, 0.6); // Valentines

// Visual additions
$highlight: #67dfd8;
// $highlight: #67dfa5; // Christmas
// $highlight: #f66294; // Valentines
$code-color: #555;
$text-highlight: #cef7f4;
// $text-highlight: #adfaa5; // Christmas
// $text-highlight: #ffd1e5; // Valentines
$border: #dedede;