// Variables for colours

// Primary
$primary: #50C8C4;
$primary-light: #7cd7d7;
$primary-dark: #3c9493;

// Light background
$bg-primary: #f9f9f9;

// Typography
$text: #444;
$text-light: #888;
$text-alt: #fff;

// Interactive elements
$link: #f16c6c;
$link-inverted: #fff;
$link-visited: #f16c6c;
$link-hover: #444;
$link-active: #000;
$btn: #eee;
$btn-hover: #f5f5f5;

// Visual additions
$highlight: #67DFD8;
$code-highlight: #4bb5b5;
$text-highlight: #CEF7F4;
$border: #dedede;