/**
 * Sidebar:
 *
 * Positioning for the sidebar with the navigation.
 */

.l-sidebar {
    @media screen and (min-width: 75rem) {
        align-items: center;
        display: flex;
        left: 0;
        position: absolute;
        top: 0;
    }
}
