/**
 * Tools:
 * 
 * Toolbox with search and dark mode switcher.
 */

.l-tools {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
}