.site-body
	overflow hidden

.site-sidebar
	display none
	width 20%
	padding 1em 2%
	fz(0.9em)

.site-sidebar-heading
	text-align right
	color c-primary

.site-sidebar-text
	font-family Karla
	font-style italic
	color c-quarternary

.site-content
	padding 1.25em
	background bg-quinary