.site-body
	overflow hidden

.site-sidebar
	display none
	width 22%
	padding 1em 2%
	fz(0.8em)
	line-height 1

.site-sidebar-heading
	color bg-senary
	font-family Karla
	margin-bottom 0.5em
	margin-top 1.5em
	& + .site-sidebar-text
		margin-top 0

.site-sidebar-text
	color c-primary-dark

.site-content
	padding 1.25em
	background bg-quinary