.site-body
	overflow hidden

.site-sidebar
	display none
	width 22%
	padding 1em 2%
	fz(0.8em)
	line-height 1

.site-content
	padding 1.25em
	background bg-quinary

.site-footer-component
	display inline-block
	margin-bottom 2.5em
	max-width 550px
	padding 0 1.5em
	vertical-align top
	text-align left