.site-sidebar
	float right

.figure-alignright
.figure-alignleft
.figure-aligncenter
	float none

.post-thumbnail-wrapper
	float right

.prev-link
.prev-link-wrapper
	float left
	max-width 45%
	margin-right 1%

.next-link
.next-link-wrapper
	float right
	max-width 45%
	margin-left 1%