.site-sidebar
	float left

.figure-alignright
.figure-alignleft
.figure-aligncenter
	float none

.post-thumbnail-wrapper
	float right

.prev-link
	text-align left
	float left
	width 49%
	margin-right 1%

.next-link
	text-align right
	float right
	width 49%
	margin-left 1%