@media (min-width: 500px)

	html
	body 
	p
		font(1.05em)

	.post-thumbnail-wrapper
		height 100px
		width 75px
		border(dashed, cquarternary)

	.post-thumbnail
		margin 2px
		height 96px
		width 71px
		overflow hidden

	.attachment-post-thumbnail
		// bdr(100px)
		max-width none
		margin-top -30%
		margin-left -30%