@media (min-width: 600px)

	html
	body 
	p
		font(1.05em)

	h1
		h1(1.75em)
		text-align center

	h2
		h2(1.5em)

	h3
		h3(1.45em)

	.post-listing

		.post
			position relative

		.post-title
			margin 0.75em auto
			max-width 18em
			fz(1.65em)

		.post-content
			float left
			margin-bottom 1em
			width 47%
			padding-right 4%
			border-r(solid, cquarternary)

		.post-meta
			text-align left
			float right
			width 20%
			padding 0 14%
			margin-top 14em

		.post-meta-item
			fz(1em)
			margin 1em 0

		.post-thumbnail-wrapper
			position absolute
			top 3em
			right 0
			height 110px
			width 85px
			border(dashed, cquarternary)

		.post-thumbnail
			margin 2px
			height 106px
			width 81px
			overflow hidden

		.post-thumbnail-wrapper
			float none

		.attachment-post-thumbnail
			// bdr(100px)
			max-width none
			margin-top -30%
			margin-left -30%

@media (min-width: 800px)

	html
	body 
	p
		font(1.15em)
		line-height 1.75

	.site-sidebar
		display block

	.site-content
		float right
		width 75%

	.post-listing

		.post
			position relative

		.post-title
			margin 0.67em 0
			max-width none
			fz(2em)
			text-align left

		.post-content
			float none
			margin-bottom 1em
			width auto
			padding-right 4%
			border-right none

		.post-meta
			text-align left
			float none
			overflow hidden
			width auto
			padding 0
			margin-top 0

		.post-meta-item
			margin 0 2em 0 0
			fz(0.95em)
			float left

		.post-thumbnail-wrapper
			position static
			float right
			margin-top 2em
			margin-right 2em
			padding 3px
			height 150px
			width 150px
			border(dashed, cquarternary)
			bdr(100px)

		.post-thumbnail
			height auto
			width auto
			margin 0

		.attachment-post-thumbnail
			margin 0

@media (min-width: 1000px)

	p
		font(1.2em)