@media (min-width: 600px)

	html
	body 
	p
	li
		font(1.05em)
		line-height 1.65

	h1
		fz(1.75em)
		text-align center
		margin 0.5em auto

	h2
		fz(1.45em)

	h3
	h4
	h5
	h6
		fz(1.3em)

	.site-content
		padding 1.25em 3em

	.search-listing .post .post-title
		fz(1.65em)

	.post-meta
		text-align center

	.post-meta-item
		fz(0.8em)

	.post-thumbnail-wrapper
		float none
		margin 0.5em auto

	.post-thumbnail
		width 85px
		height 85px

	.attachment-post-thumbnail
		margin 0 auto

	.figure-alignright
	.post-content .alignright
		float right
		margin 1em 0 1em 1em
		clear both

	.figure-alignleft
	.post-content .alignleft 
		float left
		margin 1em 1em 1em 0

	.figure-aligncenter
		margin 1em auto

	.pagination
	.post-navigation
		fz(0.95em)

	.site-footer
		background bg-tertiary
		text-align center
		padding 1em 1.25em

@media (min-width: 700px)

	html
	body 
	p
	li
		font(1.175em)

	input
	textarea
		width 40%

	.site-header
		background bg-tertiary
		.site-logo-mini
			display none
	
	a.main-navigation-link
	.main-navigation-toggle 
		fz(1.05em)

	.main-navigation-toggle
		display none

	#main-navigation
		display block

	.main-navigation
		margin 0.75em auto

	a.main-navigation-link
		display inline-block
		margin 0 0.5em
		color c-primary
		&:hover
			background link-inverted
			color c-primary-dark

@media (min-width: 850px)

	.site-sidebar
		display block

	.site-content
		float left
		width 69%
		padding 1.25em 2.5%

	.post-title
		margin 0.6em 0
		fz(2em)

	.post-meta-item
		display inline-block
		margin 0 0.75em
		fz(0.95em)
		line-height 1

	.post-thumbnail-wrapper
		margin 1em auto
		padding 3px
		height 150px
		width 150px
		border-all(solid, c-quinary)
		bdr(100px)

	.post-thumbnail
		height auto
		width auto
		margin 0

	.post figcaption
	.post-figcaption
	.wp-caption-text
		fz(1em)

	.post-figure + .post-figure
		margin-top 1.5em

@media (min-width: 1000px)

	p
	li
		font(1.2em)

	.site-body
		max-width 84em
		margin 0 auto

	.main-navigation
		margin 1em auto

	a.main-navigation-link
		margin 0 1em

@media (min--moz-device-pixel-ratio: 1.5),
		(-o-min-device-pixel-ratio: 3/2),
		(-webkit-min-device-pixel-ratio: 1.5),
		(min-resolution: 1.5dppx)

		a.external_icon
			padding-right 13px
			background url('images/external@2x.png') no-repeat scroll right center !important;
			background-size 10px 10px !important

		.site-logo
			display block
			width 120px
			height 105px
			background url('images/logo@2x.png') no-repeat scroll center top
			background-size 100% auto

		.site-logo-mini
			display block
			width 60px
			height 53px
			background url('images/logo.png') no-repeat scroll center top
			background-size 100% auto