

@font-face {
    font-family: 'edmondsansbold';
    src: url('fonts/edmondsans-bold-webfont.eot');
    src: url('fonts/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-bold-webfont.woff') format('woff'),
         url('fonts/edmondsans-bold-webfont.ttf') format('truetype'),
         url('fonts/edmondsans-bold-webfont.svg#edmondsansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'edmondsansmedium';
    src: url('fonts/edmondsans-medium-webfont.eot');
    src: url('fonts/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-medium-webfont.woff') format('woff'),
         url('fonts/edmondsans-medium-webfont.ttf') format('truetype'),
         url('fonts/edmondsans-medium-webfont.svg#edmondsansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'edmondsansregular';
    src: url('fonts/edmondsans-regular-webfont.eot');
    src: url('fonts/edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-regular-webfont.woff') format('woff'),
         url('fonts/edmondsans-regular-webfont.ttf') format('truetype'),
         url('fonts/edmondsans-regular-webfont.svg#edmondsansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}