font()
	font-family Muli, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight 300
	line-height 1.5
	font-size 1.05em
	color text

fz(x)
	font-size x
	
h1()
	font-weight normal
	font-size 1.75em 
	font-family MissionGothicLightItalic
	text-align center

h2()
	font-weight normal 
	font-size 1.6em 
	font-family EdmondSansRegular

h3()
	font-weight normal 
	font-size 1.45em 
	font-family EdmondSansRegular

// bold()
// 	font-family MissionGothicBold

// italic()
// 	font-family MissionGothicLightItalic