font(x)
	font-family Roboto, "Source Sans Pro", Karla, Muli, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight 300
	font-size x
	color text

fz(x)
	font-size x
	
h1(x)
	font-weight 500
	font-size x 
	line-height 1.25
	color c-primary
	.page &
		text-align left

h2(x)
	font-weight normal 
	font-size x
	line-height 1.25
	color c-primary
	font-family Karla
	.page &
		text-align left

h3(x)
	font-weight normal 
	font-size x
	font-style italic
	color c-tertiary

// these may not be necessary unless different styles are separate font files

bold()
	font-weight 500

italic()
	font-weight 300