font(x)
	font-family Roboto, "Source Sans Pro", Karla, Muli, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight 300
	font-size x
	color text

fz(x)
	font-size x
	
h1(x)
	font-weight 500
	font-size x 
	line-height 1.25
	color c-primary
	.page &
		text-align left

h2(x)
	font-weight normal 
	font-size x
	line-height 1.25
	color c-primary
	font-family Karla
	.page &
		text-align left

h3(x)
	font-weight normal 
	font-size x
	font-family Karla
	color c-primary
	margin-bottom -0.5em

h4(x)
	font-weight normal 
	font-size x
	color c-tertiary-dark
	margin-bottom -0.5em

h5(x)
	font-weight normal 
	font-size x
	color c-tertiary
	margin-bottom -0.5em

h6(x)
	font-weight 300
	font-size x
	color c-primary-dark
	margin-bottom -0.5em
	margin-top 1.5em

// these may not be necessary unless different styles are separate font files

bold()
	font-weight 500

italic()
	font-weight 300