/**
 * Checkbox:
 *
 * Styling for a checkbox.
 */

.c-checkbox {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

.c-checkbox__indicator {
    background-color: $input-bg;
    border: 2px solid $primary-translucent-dark;
    border-radius: 0.25rem;
    flex-shrink: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    transition: background-color 0.2s, color 0.2s;
    width: 1.5rem;
}

.c-checkbox__indicator::after {
    border: solid $text-alt;
    border-width: 0 0.2rem 0.2rem 0;
    content: '';
    display: none;
    height: 0.8rem;
    left: 0.4rem;
    position: absolute;
    transform: rotate(45deg);
    top: 0.05rem;
    width: 0.3rem;
}

.c-checkbox input:checked ~ .c-checkbox__indicator::after {
    display: block;
}

/**
 * Hide the original input.
 */

.c-checkbox input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/**
 * Checked state.
 */

.c-checkbox input:checked ~ .c-checkbox__indicator {
    background-color: $primary;
    border-color: $primary;
}

/**
 * Hover/focus state for unchecked.
 */

.c-checkbox:hover input ~ .c-checkbox__indicator,
.c-checkbox input:focus ~ .c-checkbox__indicator {
    background-color: $primary-translucent-dark;
}

/**
 * Hover/focus state for checked.
 */

.c-checkbox:hover input:not([disabled]):checked ~ .c-checkbox__indicator,
.c-checkbox input:checked:focus ~ .c-checkbox__indicator {
    background-color: $primary-medium;
    border-color: $primary-medium;
}

.c-checkbox input:disabled ~ .c-checkbox__indicator {
    background-color: $primary;
    border-color: $primary;
    opacity: 0.6;
    pointer-events: none;
}