/**
 * Footer:
 * 
 * The footer of the website.
 */

.c-footer {
    text-align: center;
}

.c-footer p {
    font-size: $font-size-small;
    margin: 0;
}

.c-footer a {
    @include linkeffect();
}