/**
 * Intro:
 *
 * The introductory panel on the homepage.
 */

.c-intro {
    font-family: Poppins, sans-serif;
    font-size: $font-size-large;
    font-weight: bold;
    line-height: 1.6;
    margin: 2rem auto 4rem;
    max-width: 48rem;
}

.c-intro a {
    @extend %linkeffect;
}