/**
 * Logo:
 * 
 * Main navigational logo for the website.
 */

.c-logo-wrapper {
    display: flex;
    transition: opacity 0.25s;
}

.c-navigation .c-logo-wrapper {
    display: inline-flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.c-logo-wrapper:hover {
    opacity: 0.85;
}

.c-logo {
    height: 1.5rem;
    width: auto;

    @media screen and (min-width: 65rem) {
        height: 3rem;
    }
}