/**
 * Navigation:
 * 
 * Main navigation for the website.
 *
 */

.c-navigation {
    font-family: Poppins;
    list-style: none;
    margin: 0;
    padding: 1rem 0 0 2vw;

    @media screen and (min-width: 45rem) {
        align-items: center;
        display: flex;
    }

    @media screen and (min-width: 75rem) {
        display: block;
        padding-top: 2rem;
    }
}

.c-navigation li {
    @media screen and (min-width: 45rem) {
        flex-shrink: 0;
    }

    @media screen and (min-width: 75rem) {
        display: block;
        padding-bottom: 0.25rem;
    }
}

.c-navigation a {
    font-weight: 700;
    padding: 0.25rem 1rem;
    position: relative;

    @media screen and (min-width: 75rem) {
        padding: 0;
    }
}

.c-navigation a:hover {
    color: $link-ternary-hover;
}