/**
 * Pagination:
 * 
 * In-post and homepage navigation to navigate between posts, and between post listings, respectively.
 */

.c-pagination {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;

    @media screen and (min-width: 55rem) {
        flex-direction: row;
        justify-content: space-between;
    }

    @supports (display: grid) {
        display: grid;
        grid-column: 1 / span 3;
        grid-row-gap: 3rem;

        @media screen and (min-width: 55rem) {
            grid-gap: 1.5rem;
            grid-template-columns: 1fr 1fr;
        }
    }
}

/**
 * Individual pagination item.
 * 
 * 1. Let each item take up half the space when using the flexbox fallback.
 */

.c-pagination-item {
    border: 3px solid $primary-translucent-dark;
    border-radius: 0.25rem;
    color: $primary;
    font: normal 1.5rem Poppins;
    position: relative;
    text-align: center;
    transition: transform 0.3s;

    @media screen and (min-width: 55rem) {
        width: calc(50% - 0.75rem); // [1]

        @supports (display: grid) {
            width: auto;
        }
    }
}

.c-pagination-item::after {
    background-color: $primary-translucent;
    border-radius: 0.25rem;
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    left: -0.5rem;
    top: 0;
    transform: translate(-0.2em, 0.8em);
    transition: transform 0.3s;
    width: 100%;
}

.c-pagination-item:focus {
    background-color: initial;
}

.c-pagination-item:hover {
    transform: translate(-0.1em, 0.1em);
}

.c-pagination-item:hover::after {
    transform: translate(0.75em, -0.5em);
}

/**
 * 1. Add a bottom margin for smaller viewports.
 * 2. Remove styles associated with the flexbox fallback.
 */

.c-pagination-item:first-child {
    margin-bottom: 3rem; // [1]

    @media screen and (min-width: 55rem) {
        margin-bottom: 0; // [2]
    }

    @supports (display: grid) {
        margin-bottom: 0; // [2]
    }
}

/**
 * Pagination on an individual post.
 * 
 * 1. Remove styles from default pagination item.
 */

.c-pagination--post .c-pagination-item {
    border: 0; // [1]
    font: inherit; // [1]
    transform: none; // [1]
}

.c-pagination--post .c-pagination-item:hover {
    background-color: $secondary-translucent;
    color: $link-ternary-hover;
}

.c-pagination--post .c-pagination-item:hover:focus {
    background-color: $secondary-light;
}

.c-pagination--post .c-pagination-item::after {
    content: none; // [1]
}

/**
 * Pagination label and title.
 */

.c-pagination-item__label {
    display: block;
}

.c-pagination-item__title {
    font: bold 1.5rem Poppins;
}