/**
 * Toggle switch:
 * 
 * Toggle to turn a feature off and on (e.g. dark mode).
 */

:root {
    // style
    --toggle-width: 3.25rem;
    --toggle-height: 1.75rem;
    --toggle-padding: 0.2rem;

    // animation
    --toggle-animation-duration: 0.2s;
}

.c-toggle-wrapper {
    padding: 1rem 1rem 0 0;
}

.c-toggle {
    align-items: center;
    border-radius: 50em;
    display: flex;
    flex-shrink: 0;
    height: var(--toggle-height);
    padding: var(--toggle-padding) 0;
    position: relative;
    width: var(--toggle-width);
}

.c-toggle__input,
.c-toggle__label {
    left: 0;
    position: absolute;
    top: 0;
}

.c-toggle__input {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    width: 0;

    &:checked + .c-toggle__label {
        background-color: $primary;
    }

    &:checked + .c-toggle__label + .c-toggle__marker {
        left: calc(100% - var(--toggle-height) + var(--toggle-padding));
    }
    &:checked + .c-toggle__label + .c-toggle__marker::after {
        content: '🌒';
    }

    &:focus + .c-toggle__label,
    &:active + .c-toggle__label {
        background-color: peachpuff;
        // box-shadow: 0 0 0 3px var(--color-shadow);
    }
}

.c-toggle__label {
    background-color: $primary-translucent-dark;
    border-radius: inherit;
    color: transparent;
    height: 100%;
    transition: background var(--toggle-animation-duration);
    user-select: none;
    width: 100%;
    z-index: 2;
}

.c-toggle__marker {
    align-items: center;
    display: flex;
    height: calc(var(--toggle-height) - var(--toggle-padding) * 2);
    justify-content: center;
    left: var(--toggle-padding);
    pointer-events: none;
    position: relative;
    transition: left var(--toggle-animation-duration);
    width: calc(var(--toggle-height) - var(--toggle-padding) * 2);
    will-change: left;
    z-index: 2;
}

.c-toggle__marker::after {
    content: '🌞';
}