// blockquotes

blockquote {
	margin: 1.5em 0;
	padding: 1.5em;
	background: $bg-quinary-dark;
	line-height: 1.75;
	border: 1px solid $c-quinary;
	quotes: "\201C""\201D""\2018""\2019";
	p:first-child {
		display: inline;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

blockquote:before {
	content: open-quote;
	margin-right: .25em;
	color: $c-secondary;
	font-family: Karla;
	font-size: 4em;
	line-height: .01em;
	vertical-align: -.4em;
}

blockquote:before {
	content: "\201C";
}
