// blockquotes

blockquote {
	margin: 1.5rem 0;
	padding: 1.5rem;
	background: $bg-quinary-dark;
	border-left: 10px solid $highlight;
	quotes: "\201C""\201D""\2018""\2019";
	p:first-child {
		display: inline;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

blockquote:before {
	content: open-quote;
	margin-right: 1rem;
	color: $highlight;
	font-family: Georgia, 'Times New Roman', sans-serif;
	font-size: 5.5rem;
	line-height: 0;
	vertical-align: -2.5rem;
}

blockquote:before {
	content: "\201C";
}
