/**
 * Blockquotes:
 * Styling for the `blockquote` element.
 */

blockquote {
	background-color: $bg-primary;
	border-left: 10px solid $highlight;
	margin: 1.5rem 0;
	padding: 1.5rem;
	quotes: '\201C' '\201D' '\2018' '\2019';

	/**
	 * Allowing the first paragraph in the blockquote to sit next to the quotation mark.
	 */

	p:first-child {
		display: inline;
	}

	/**
	 * Removing the bottom margin on the last child in the blockquote.
	 */

	p:last-child {
		margin-bottom: 0;
	}

}

blockquote:before {
	color: $highlight;
	content: open-quote;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 5rem;
	font-style: normal;
	line-height: 0;
	margin-right: 1rem;
	vertical-align: -2rem;
}