.comments {
	margin-top: 3rem;
}

.comments-list--child {
	border-left: 0.5rem solid $bg-primary;
	margin-bottom: 1rem;
	margin-top: 1.5rem;
	padding-left: 1.5rem;

	> .comment {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.comment {
	margin: 1rem 0;
	padding: 1rem 0 0;
}

.comment__author {
	font-style: normal;
	margin: 0;
}

.comment--author .comment__author::after {
	background-color: $bg-primary;
	border: 1px solid $border;
	border-radius: 0.25rem;
	color: $text-light;
	content: 'Post author';
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1;
	margin-left: 0.5rem;
	padding: 0.35rem 0.5rem;
	vertical-align: middle;
}

.comment__meta-item {
	@extend .post__meta-item;
	margin-top: 0.5rem;
}

.comment__reply-link {
	font-size: 1rem;
	font-style: italic;
}