.comments {
	margin-top: 1rem;
}

.comments-list {
	margin-top: 1.5rem;
	.comment-meta {
		min-height: 55px;
		margin-left: 65px;
		font-size: .85em;
		text-align: left;
	}
	> .comment,
	> .pingback {
		.comment-meta {
			min-height: 0;
			margin-left: 0;
		}
	}
}

.comment,
.pingback {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}

.comment-gravatar {
	float: left;
	margin: 0 1rem .5rem 0;
	padding: .25rem;
	border: 1px solid $border;
	.pingback & {
		display: none;
	}
}

.avatar {
	display: block;
	width: 45px;
}

.comment-author {
	margin: 0;
}

.bypostauthor .comment-author::after {
	background-color: $bg-primary;
	border: 1px solid $border;
	border-radius: 0.25em;
	color: $text-light;
	content: 'Post author';
	display: inline-block;
	font-size: 0.7rem;
	margin-left: 0.5rem;
	padding: 0.2rem 0.45rem;
	vertical-align: middle;
}

.comment-author-link {
	text-decoration: none;
}

.comment-meta-item {
	display: block;
	margin-top: .25em;
}

.child-comments {
	margin-top: 1em;
	padding-left: 1.5em;
	border-left: 1px solid $border;
	> .comment {
		margin-bottom: .5em;
		padding-bottom: 0;
		padding-top: 1em;
		border-bottom: none;
	}
}

.pingback {
	.comment-meta-item,
	.comment-reply-link {
		display: none;
	}
}
