/**
 * Error page:
 * Applies to comment errors and 404 page errors.
 */

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v5/QT0qO2FiFD03cwUe_t62t6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 400;
    src: local('Karla Italic'), local('Karla-Italic'), url(https://fonts.gstatic.com/s/karla/v5/ietJ6bjhwzrJL8NSJOc2mgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

$primary: #50c8c4;
$text-alt: #fff;
$link-inverted: #fff;
$link-hover: #444;

body {
    line-height: 1.67;
    margin: 0;
}

.site-error {
    background-color: $primary;
    height: 100%;
}

.site-error__inner {
    height: 100%;
    padding: 0 1rem;
}

.site-error__content {
    align-items: center;
    color: $text-alt;
    display: flex;
    flex-direction: column;
    font-family: Karla;
    font-size: 1.2rem;
    height: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.site-error__title {
    color: $text-alt;
    font-size: 1.5rem;
    font-weight: bold;
}

.site-error__link {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    color: $link-inverted;
    text-decoration: none;

    &:hover {
        border-bottom-color: $link-hover;
    }
}