/**
 * Error page:
 * Applies to comment errors and 404 page errors.
 */

.site-error {
    background-color: $primary;
    height: 100%;
}

.site-error__inner {
    height: 100%;
}

.site-error__content {
    align-items: center;
    color: $text-alt;
    display: flex;
    flex-direction: column;
    font-family: Karla;
    font-size: 1.2rem;
    height: 100%;
    justify-content: center;
}

.site-error__title {
    color: $text-alt;
    font-size: 1.5rem;
    font-weight: bold;
}

a.site-error__link {
    color: $link-inverted;
    font-size: 1rem;
}