/**
 * Error page:
 * Applies to comment errors and 404 page errors.
 */

$primary: #50c8c4;
$text-alt: #fff;
$link-inverted: #fff;
$link-hover: #444;

body {
    line-height: 1.67;
    margin: 0;
}

.site-error {
    background-color: $primary;
    height: 100%;
}

.site-error__inner {
    height: 100%;
    padding: 0 1rem;
}

.site-error__content {
    align-items: center;
    color: $text-alt;
    display: flex;
    flex-direction: column;
    font-family: Karla;
    font-size: 1.2rem;
    height: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.site-error__title {
    color: $text-alt;
    font-size: 1.5rem;
    font-weight: bold;
}

.site-error__link {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    color: $link-inverted;
    text-decoration: none;

    &:hover {
        border-bottom-color: $link-hover;
    }
}