.footer-container {
	background-color: $bg-primary;
}

.footer {
	color: $text-light;
	margin: 0 auto;
	max-width: 52rem;
	padding: 1.25rem;
}

.footer-item {
	vertical-align: top;
}

.footer-item__title {
	margin-top: 0;
}