.btn,
button,
.pushbutton-wide,
.post-edit-link,
.comment-reply-link {
	padding: .35em .85em;
	font-family: Karla;
	border-radius: 0.25rem;
}

input,
textarea {
	// width: 100%;
	background: $bg-senary;
	line-height: 1.5;
	border: 1px solid $c-quaternary;
	// &:hover {
	// 	border-color: $c-primary-light;
	// }
}

button,
input[type="submit"] {
	width: auto;
	background: $link;
	color: $link-inverted;
	border: none;
	&:hover {
		background: $bg-primary;
		color: $link-inverted;
		cursor: pointer;
	}
}

.search-form,
.subscribe-form {
	margin-top: 1rem;
}

.search-form-input,
.subscribe-form-input {
	// float: left;
	// width: 71%;
	// height: 34px;
	// vertical-align: middle;
	// background: $bg-tertiary;
	color: $c-primary-dark;
	font-family: Karla;
	// font-size: 1.1em;
	&:hover,
	&:focus {
		background: $bg-senary;
	}
}

.subscribe-form-input {
	// width: 80%;
	.site-footer-component & {
		background: $bg-senary;
		&:hover {
			background: $bg-quinary;
		}
	}
}

.search-form-submit,
.subscribe-form-submit {
	// float: right;
	// width: 29%;
	// height: 34px;
	// padding: 5px 10px;
	// vertical-align: middle;
	background: $bg-primary;
	color: $link-inverted;
	// font-size: 1.1em;
	&:hover {
		background: $bg-senary;
		color: $c-primary;
	}
}

.subscribe-form-submit {
	// width: 20%;
}

.contact-form label {
	font-weight: 500 !important;
}

.contact-submit {
	// margin-top: 0;
}
