.search-form,
.subscribe-form {
	display: table;
	width: 100%;
	margin-top: 1rem;
}

.search-form-input,
.subscribe-form-input {
	-webkit-appearance: none; // removing webkit style of search input
	float: left; // table-cell doesn’t work, so float.
	display: table-cell;
	width: 70%;
	height: 2.5rem;
	font-family: Karla;
	vertical-align: middle;
	border-radius: .25rem 0 0 .25rem;
}

.search-form-submit,
.subscribe-form-submit {
	display: table-cell;
	width: 30%;
	vertical-align: middle;
	border-radius: 0 .25rem .25rem 0;
}

.subscribe-label {
	display: inline-block;
}