.site-header {
	overflow: hidden;
	background: $bg-tertiary;
}

.site-title {
	display: block;
	width: 150px;
	height: 123px;
	background: url(logo.png);
	background-size: 100% auto;
	font-family: Karla;
	font-size: 3rem;
	text-align: center;
	text-indent: -9999em;
}