img {
	height: auto;
	max-width: 100%;

	&.aligncenter {
		display: block;
		margin: 1.5rem auto;
	}

}

.figure {
	margin: 1.25rem -1.5rem;
	max-width: calc(100% + 3rem);

	img {
		display: block;
		margin: 0 auto;
	}

}

.figure--left,
.figure--right,
.figure--alignleft,
.figure--alignright {
	float: none;
}

.figure__caption {
	color: $text-light;
	font-family: Karla;
	font-size: 0.9rem;
	font-style: italic;
	padding: 0.5rem;
}

.figure__caption--center,
.figure__caption--aligncenter,
.figure__caption--center-small {
	text-align: center;
}

.figure__caption--alignright {
	text-align: right;
}