%linkeffect {
    display: inline-block;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    position: relative;
    transition: transform 0.2s;

    &::after {
        content: '';
        opacity: 0;
    }

    &::before {
        background-color: $link-bg;
        border-radius: 0.25rem;
        content: '';
        height: 50%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(-0.2em, 0.8em);
        transition: transform 0.3s;
        width: 100%;
        z-index: -1;
    }

    &:hover {
        transform: translate(-0.05em, 0.05em);
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover::before {
        background-color: $link-hover-bg;
        transform: translate(0.05em, 0.4em) scale(1.05);
    }
}