.main-navigation {
	text-align: center;
}

a.main-navigation-link,
.main-navigation-toggle {
	display: block;
	padding: .25em .5em;
	color: $link-inverted;
	font-family: Karla;
	font-size: .95em;
	font-weight: 400;
	&:hover {
		background: $bg-primary;
		color: $link-inverted;
	}
}

.site-sidebar-list {
	padding: 0;
}

.site-sidebar-list-item {
	margin: .25rem 0;
	list-style: none;
	a {
		// background: $bg-primary;
		// display: block;
		// padding: .25em .5em;
		&:hover {
			// background: $bg-senary;
			// color: $c-primary;
		}
	}
}

.pagination {
	display: table;
	width: 100%;
	margin-top: 1rem;
	padding-bottom: 1rem;
	font-family: Karla;
	font-size: 1rem;
	text-transform: uppercase;

	&-link {
		display: table-cell;
		vertical-align: top;

		&:first-child {
			padding-right: 1rem;
		}

		&-item {
			display: block;
			text-transform: none;
		}

	}

	.post + & {
		@include separator(solid, $c-quinary);
	}

}

.prev-link {
	box-sizing: border-box;
	float: left;
	max-width: 49%;
	font-size: .9rem;
}

.next-link {
	box-sizing: border-box;
	float: right;
	max-width: 49%;
	font-size: .9rem;
}

.more-link,
.comment-reply-link,
.post-edit-link {
	font-size: .9em;
}

.post-edit-link {
	display: inline-block;
}

.more-link,
.comment-reply-link {
	display: inline-block;
	padding: .25em .65em;
	background: $link;
	text-decoration: none;
	&:link,
	&:visited {
		color: $link-inverted;
	}
	&:hover {
		background: $bg-primary;
	}
}

.prev-link,
.next-link,
.post-edit-link {
	padding: .25em .65em;
	background: $bg-primary;
	text-decoration: none;
	&:link,
	&:visited {
		color: $link-inverted;
	}
	&:hover {
		background: $bg-tertiary;
		color: $c-primary;
	}
}

.cancel-comment-reply {
	margin-left: .5em;
	background: $bg-quaternary;
	color: $c-tertiary-dark;
	&:hover {
		background: $bg-tertiary;
		color: $c-primary;
	}
}

// navigation toggle

.main-navigation-toggle {
	padding: .85em;
	line-height: .65;
	&:hover {
		span {
			color: $link-inverted;
		}
	}
}

.main-navigation-toggle-open,
.main-navigation-toggle-close {
	display: block;
	color: $link-inverted;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	&:hover {
		color: $c-primary;
	}
}

.main-navigation-toggle-close {
	display: none;
}

.main-navigation-toggle.is-open {
	.main-navigation-toggle-open {
		display: none;
	}
	.main-navigation-toggle-close {
		display: block;
	}
}

.main-navigation {
	display: none;
	&.is-open {
		display: block;
	}
}
