/**
 * Navigation:
 * Main navigation bar at top of website.
 */

.main-navigation__list {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.main-navigation__list-item {
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	vertical-align: middle;
}

/**
 * Modifier for the element containing the logo.
 */

.main-navigation__list-item--logo {
	align-items: center;
	cursor: pointer;
	flex-basis: 100%;
	justify-content: center;
	margin-bottom: 0.5rem;
	transition: opacity 0.15s;

	&:hover {
		opacity: 0.8;
	}
}

/**
 * Logo inside list item.
 */

.main-navigation__logo {
	display: block;
	height: 25px;
	width: 25px;
}

.main-navigation__link {
	border-radius: 0.25rem;
	display: block;
	color: $link-inverted;
	font-weight: 400;
	padding: 0.5rem 1rem 0.35rem;
	transition: all 0.1s ease-in;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: $primary-dark;
		text-decoration: none;
	}
}