/**
 * Pagination:
 * In-post and homepage navigation to navigate between posts, and between post listings, respectively.
 */

.pagination {
	background-color: $bg-primary;
	font-size: 1.2rem;
	font-weight: 400;
	margin: 0 -1.25rem 1rem;
	padding: 1.5rem;
}

/**
 * Containing element for individual pagination item.
 */

.pagination__item-container {
	margin: 1rem 0;

	&:first-child {
		border-bottom: 1px solid $border;
		padding-bottom: 1.5rem;
	}

	&:last-child {
		padding-top: 1rem;
	}

	&:only-child {
		border-bottom: 0;
	}
}

/**
 * Removing arrow indicator for link on smaller displays.
 */

.pagination__arrow {
	display: none;
}

.pagination__link {
	cursor: pointer;
}

/**
 * Adding underline to inner text when the parent link is hovered.
 */

.pagination__link:hover {

	/**
	 * Removing the default link underline.
	 */

	&::after {
		display: none;
	}

	/**
	 * Apply the link underline on a more suitable element.
	 */

	.pagination__link-text {

		&::after {
			border-bottom: 0.3rem solid $link-border;
			bottom: 1px;
			content: '';
			height: 0;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}
}

/**
 * Text label.
 * This is used for the label ‘Next Post’ or ‘Previous Post’.
 */

.pagination__link-label {
	color: $text;
	display: block;
	margin-bottom: 0.5rem;
}

/**
 * Link text.
 * For the index view, this is ‘Older Posts’ or ‘Newer Posts’.
 * For the single post view, this is the title of the next or previous post.
 */

.pagination__link-text {
	font-style: italic;
	margin-top: 0.5rem;
	position: relative;
}

/**
 * Modifier for pagination on homepage.
 */

.pagination--home {
	display: flex;

	/**
	 * Setting each link to half the width of the parent.
	 */

	.pagination__link {
		width: 50%;
	}

	/**
	 * Giving the element full width if it is the only child.
	 */

	.pagination__link:only-child {
		width: 100%;
	}

	/**
	 * Changing the link text colour on hover.
	 */

	.pagination__link:hover {
		.pagination__link-label {
			color: $link;
		}
	}

	.pagination__item-container {
		border-bottom: none;
		margin: 0;
		padding: 0;
		width: auto;
	}

	.pagination__item-container--right {
		text-align: right;
	}

	.pagination__link-container {
		display: inline-block;
	}
}