.pagination {
	display: table;
	width: 100%;
	padding-bottom: 1rem;
	padding-top: 1rem;
	font-family: Karla;
	font-size: .9rem;
	text-transform: uppercase;

	&-link {
		display: table-cell;
		vertical-align: top;

		&:first-child {
			padding-right: 1rem;
		}

		&-item {
			display: block;
			text-transform: none;
		}

	}

	.post + & {
		border-top: 1px solid $border;
		border-bottom: 1px solid $border;
	}

}

.prev-link {
	box-sizing: border-box;
	float: left;
	max-width: 49%;
	font-size: .9rem;
	&:link,
	&:visited {
		color: $link-inverted;
	}
}

.next-link {
	box-sizing: border-box;
	float: right;
	max-width: 49%;
	font-size: .9rem;
	&:link,
	&:visited {
		color: $link-inverted;
	}
}