/**
 * Pagination:
 * In-post and homepage navigation to navigate between posts, and between post listings, respectively.
 */

.pagination {
	font-size: 0.9rem;
}

.pagination__item-container {
	margin-bottom: 1.5rem;
}

/**
 * Hide arrow indicator for link on smaller displays.
 */

.pagination__arrow {
	display: none;
}

/**
 * Adjusting `text-decoration` properties when the link is hovered.
 */

.pagination__link:hover {
	text-decoration: none;

	.pagination__link-text {
		text-decoration: underline;
	}
}

.pagination__link-label {
	color: $text;
}

.pagination__link-text {
	display: block;
}

/**
 * Modifier for pagination on homepage.
 */

.pagination--home {
	display: flex;

	/**
	 * Setting each link to half the width of the parent.
	 */

	.pagination__link {
		width: 50%;
	}

	/**
	 * Giving the element full width if it is the only child.
	 */

	.pagination__link:only-child {
		width: 100%;
	}

	/**
	 * Changing the link text colour on hover.
	 */

	.pagination__link:hover {
		.pagination__link-label {
			color: $link;
		}
	}

	.pagination__item-container {
		margin-bottom: 0;
		width: auto;
	}

	.pagination__item-container--right {
		text-align: right;
	}

	.pagination__link-container {
		display: inline-block;
	}
}