// CSS for plugins

// contact form

.contact-form label {
	display: block;
	margin: .5rem 0 .25rem;
}

.pushbutton-wide {
	@extend button;
	&:hover {
		color: $link-inverted;
	}
}

// footnotes

.footnotes {
	border-top: 1px dashed $border;
	color: $text-light;
	font-size: 0.8rem;
	margin-top: 1.5rem;
	padding: 0.75rem 0;
}