// CSS for plugins

// contact form

.contact-form label {
	display: block;
	margin: .5rem 0 .25rem;
}

.pushbutton-wide {
	@extend button;
	&:hover {
		color: $link-inverted;
	}
}

// footnotes

.footnotes {
	padding: .75em 0;
	font-size: .75em;
	border-top: 1px dashed $border;
	li {
		color: $text-light;
	}
}

.footnotereverse a {
	text-decoration: none;
}