// CSS for plugins

// footnotes

.footnotes {
	border-top: 1px dashed $border;
	color: $text-light;
	font-size: 0.8rem;
	margin-top: 1.5rem;
	padding: 0.75rem 0;
}

/**
 * InLinkz plugin.
 */

.InLinkzContainer a {
	display: inline;
	position: static;

	&::after {
		display: none;
	}
}

[id^="linkContainer"] {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
	width: 100%;
}

._inlinkzLUI {
	border-radius: 3px;
}

._InLinkzDiv {
	box-shadow: none !important;
	margin: 0.5rem !important;
}

._InLinkzLUA {
	font-family: inherit !important;
}

._ILLinkBar,
._ILInfoText,
[id^="pagingContainer"] {
	display: none !important;
}

._ILAddLinkButton {
	-webkit-appearance: none;
	background: $primary !important;
	border: none !important;
	border-radius: 0.25rem;
	display: block !important;
	font-family: 'Fira Sans' !important;
	font-size: inherit !important;
	height: auto !important;
	line-height: inherit !important;
	margin: 0 auto !important;
	padding: 0.5rem 1rem 0.25rem !important;
	transition: background-color 0.15s linear;
	text-shadow: none !important;
	width: 8rem;

	&:hover {
		background-color: $primary-dark !important;
	}
}