.post {
	padding: .5em 0;
	@include separator(solid, $c-quinary);
}

.post-title + .post-meta {
	margin-top: -.5em;
}

.post-meta {
	line-height: 1.4;
	text-transform: uppercase;
}

.post-meta-item {
	margin: 0;
	color: $c-tertiary;
	font-size: .75em;
}

.page,
.error-post {
	border-bottom: none;
}

.post-404 {
	display: block;
	width: 202px;
	height: 178px;
	margin: 1em auto 2.5em;
	background: url(images/404.png);
}

.post-list {
	dd {
		margin: 0 0 20px;
	}

}