.post {
	padding-bottom: 1rem;
}

.post-listing .post {
	padding-bottom: 1.5rem;
}

.post-listing__intro {
	margin-bottom: 3rem;
}

.post__title {
	font-family: Fira Sans;
	font-size: 2.5rem;
}

.post-summary__title {
	font-size: 1.65rem;
	font-style: normal;
	margin: 0.5rem 0;
}

.post__meta-item {
	color: $text-light;
	font-size: 0.9rem;
}

.post__cta {
	font-style: italic;
	font-weight: 500;
}