.post {
	padding: 1rem 0;

	&:first-child {
		padding-top: 0;
	}

}

.post-summary__title {
	font-family: Karla;
	font-style: italic;
}

.post__title {
	font-family: Fira Sans;
	font-size: 2.5rem;
}

.post-meta-item {
	color: $text-light;
	font-size: 0.9rem;
}

.post-404 {
	display: block;
	width: 202px;
	height: 178px;
	margin: 1rem auto 2.5rem;
	background: url(images/404.png);
}

.post__cta {
	font-weight: 500;
}