.search-listing-intro,
.category-listing-intro {
	margin-bottom: 0;
	padding-bottom: 1rem;
	@include separator(solid, $c-quinary);
}

.search-highlight {
	background: $bg-tertiary;
	color: $c-primary-dark;
	font-weight: 500;
}