.search-listing-intro,
.category-listing-intro {
	margin-bottom: 0;
	padding-bottom: 1rem;
	@include separator(solid);
}

.search-highlight {
	background: $text-highlight;
	color: $primary-dark;
	font-weight: 500;
}