.site-body {
	overflow: hidden;
}

.site-sidebar {
	box-sizing: border-box;
	display: none;
	width: 28%;
	padding: 1.25rem;
	font-family: Karla;
	font-size: .9rem;
}

.site-content {
	box-sizing: border-box;
	padding: 1.25rem;
	background: $bg-quinary;
}

iframe {
	max-width: 100%;
	margin: 0 auto !important;
}