@media (max-width: 25rem) {

	h1,
	.post__title {
		font-size: 1.65rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3,
	h4,
	h5,
	h6 {
		font-size: 1.05rem;
	}

}

@media (min-width: 25rem) {

	/**
	 * Stop wrapping the navigation items on multiple lines.
	 */

	.main-navigation__list {
		flex-wrap: nowrap;
	}

	/**
	 * Restore the logo’s container to its original size.
	 */

	.main-navigation__list-item--logo {
		flex-basis: auto;
		margin-bottom: 0;
	}
}

@media (min-width: 38rem) {

	body {
		font-size: 1.05rem;
		line-height: 1.67;
	}

	blockquote {
		margin: 2rem -1.5rem;
		padding: 2rem 3rem;
	}

	.figure--right,
	.figure--alignright {
		float: right;
		margin: 1.25rem -2rem 1.25rem 1.75rem;
	}

	.figure--left,
	.figure--alignleft {
		float: left;
		margin: 1.25rem 1.75rem 1.5rem -2rem;
	}

	.figure--center,
	.figure--aligncenter {
		margin: 1rem -2rem;
		max-width: calc(100% + 4rem);
	}

	.figure--center-small {
		margin: 1em auto;
	}

	.site-header,
	.intro,
	.site-content,
	.footer {
		padding: 1.25rem 3rem;
	}

	.intro__text {
		font-size: 1rem;
	}

	.pagination {
		margin-left: -3rem;
		margin-right: -3rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.homepage-listing {
		margin-top: 1rem;
	}

	.post__title {
		margin-top: 1.5rem;
	}

}

@media (min-width: 48rem) {

	/**
	 * 1. Allows IE10 to display flexbox elements properly.
	 */

	.site-header {
		align-items: center;
		display: -ms-flexbox; // [1]
		display: flex;
		-ms-flex-pack: justify; // [1]
		justify-content: space-between;
	}

	.main-navigation__list-item {
		margin: 0 0.25rem;
	}

	.main-navigation__link {
		padding: 0.25rem 0.5rem 0.15rem;
	}

	.search-form {
		margin: 0;
	}

	.search-form__input {
		width: auto;
	}

	.intro {
		padding: 2rem 3rem;
	}

	.intro__image-container {
		display: inline-block;
	}
}

@media (min-width: 58rem) {

	/**
	 * 1. This hack stops IE10 from making the element overflow out of the parent, since `flex-grow` and `flex-shrink` do not work.
	 */

	.main-navigation__list-item {
		margin: 0 0.5rem;
	}

	.search-form__input {
		max-width: 12rem;
	}

	.intro {
		max-width: 48rem;
	}

	.intro__text {
		max-width: 85%; // [1]
	}

	.site-body {
		margin: 0 auto;
		max-width: 52rem;
	}

	.site-content {
		padding: 2rem;
	}

	.site-header,
	.footer {
		padding: 2rem;
		margin: 0 auto;
		max-width: 48rem;
	}

	.footer__quote {
		margin-top: 0;
	}

	.pagination {
		margin: 0;
		padding: 0;
	}

	.pagination--home {
		margin: 0;
	}

	/**
	 * Positioning container for individual prev/next trigger and link.
	 */

	.pagination__item-container {
		position: fixed;
		top: 48vh;
		width: auto;

		/**
		 * Removing border and padding from first child.
		 */

		&:first-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	/**
	 * Modifier for left-hand-side.
	 */

	.pagination__item-container--left {
		left: 0;

		.pagination__item {
			&:hover {
				.pagination__arrow {
					background-color: transparent;
					margin-left: 0;
					transform: rotate(180deg);
				}
				.pagination__link-container {
					margin-left: 0;
				}
			}
		}

		.pagination__arrow {
			left: 0;
		}

		.pagination__link-container {
			border-radius: 0 0.25rem 0.25rem 0;
			margin-left: -12rem;
			padding-left: 2rem;
		}
	}

	/**
	 * Modifier for right-hand-side.
	 */

	.pagination__item-container--right {
		right: 0;
		text-align: right;

		.pagination__item {
			&:hover {
				.pagination__arrow {
					background-color: transparent;
					margin-right: 0;
					transform: rotate(-180deg);
				}
				.pagination__link-container {
					margin-right: 0;
				}
			}
		}

		.pagination__arrow {
			right: 0;
		}

		.pagination__link-container {
			border-radius: 0.25rem 0 0 0.25rem;
			margin-right: -12rem;
			padding-right: 2rem;
		}
	}

	/**
	 * Arrow trigger.
	 */

	.pagination__arrow {
		background-color: rgba(200, 200, 200, 0.2);
		border-radius: 50%;
		color: $text-light;
		cursor: pointer;
		display: block;
		font-size: 1.25rem;
		height: 2rem;
		line-height: 2rem;
		margin: 0.5rem;
		width: 2rem;
		position: absolute;
		text-align: center;
		transform-origin: 50% 50%;
		transition: background-color 0.1s,
					margin 0.15s,
					transform 0.3s;
		vertical-align: middle;
		z-index: 2;
	}

	.pagination__link-container {
		background-color: $bg-primary;
		display: inline-block;
		font-size: 0.8rem;
		line-height: 1.5;
		padding: 0.75rem;
		transition: margin 0.4s ease-out;
		vertical-align: middle;
		width: 8rem;
	}

	.pagination__link:hover {

		.pagination__link-text {
			color: $link;

			/**
			 * Removing underline that was applied on smaller widths.
			 */

			&::after {
				display: none;
			}
		}
	}

	/**
	 * Modifier for pagination on homepage.
	 */

	.pagination--home {
		.pagination__link-container {
			line-height: 2;
			width: auto;
		}
	}

}