@media (max-width: 400px) {

	h1,
	h2 {
		font-size: 1.2rem;
	}

	h3,
	h4,
	h5,
	h6 {
		font-size: 1.05rem;
	}

	.post-meta-item {
		font-size: .9rem;
	}

	.homepage-listing {

		p {
			margin: 0;

			&:first-of-type {
				margin-top: .75rem;
			}

		}

		.post {
			blockquote,
			blockquote:before,
			figure,
			img {
				display: none;
			}
		}

		.post-content {
			overflow: hidden;
			display: block;
			display: -webkit-box;
			height: 5.25rem;
			text-overflow: ellipsis;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		.more-link {
			margin-top: 1rem;
		}

		.post-meta-item {
			display: none;
		}

		time.post-meta-item {
			display: block;
		}

	}

}

@media (min-width: 600px) {

	body {
		font-size: 1.05rem;
		line-height: 1.67;
	}

	h1 {
		text-align: center;
	}

	blockquote {
		padding: 2rem 3rem;
	}

	a.site-header-logo,
	.main-navigation-toggle {
		display: none;
	}

	.main-navigation {
		display: block;
		margin: .75rem auto;
		padding: 0 3rem;

		a {
			display: inline-block;
			margin: 0 .5rem;
			border-radius: .25rem;
			transition: background-color .15s linear;
			&:hover {
				text-decoration: none;
			}
		}

		.home-link {
			display: inline-block;
		}

	}

	.post {

		&-meta {
			text-align: center;
		}

		&-thumbnail {
			display: block;
			width: 80px;
			height: 80px;
			margin: 0 auto;
		}

	}

	.attachment-post-thumbnail {
		margin: 0 auto;
	}

	.figure-alignright,
	.post-content .alignright {
		float: right;
		margin: .5rem 0 1.25rem 1.25rem;
	}

	.figure-alignleft,
	.post-content .alignleft {
		float: left;
		margin: .5rem 1.25rem 1.5rem 0;
	}

	.figure-aligncenter {
		margin: 1em auto;
	}

	.site {

		&-content {
			padding: 1.25rem 3rem;
		}

		&-footer {
			text-align: center;
			padding: .5rem 2rem;

			&-component {
				padding: 0 1rem;
			}

		}

	}

}

@media (min-width: 900px) {

	.main-navigation {
		max-width: 69rem;
		padding: 0 1.5rem;
		text-align: left;
	}

	.post {
		padding-top: 1.5rem;

		&-title {
			text-align: left;
		}

		&-meta {
			margin-bottom: 1.5rem;
			text-align: left;

			&-item {
				display: inline-block;

				&:before {
					content: '·';
					margin-left: .25rem;
					margin-right: .5rem;
					font-weight: bold;
				}

				&:first-child:before {
					display: none;
				}

			}

		}

		&-thumbnail {
			float: left;
			margin: 0 1.5rem 0 0;
		}

	}

	.site {

		&-sidebar {
			display: block;
			padding: 2rem 2rem 2rem .5rem;
		}

		&-content {
			float: left;
			width: 70%;
			padding: 2rem;
		}

		&-footer {
			padding: .5rem 1rem;

			&-component {
				box-sizing: border-box;
				width: 33%;
				max-width: 23rem;
			}

		}

	}

}

@media (min-width: 1150px) {

	.main-navigation {
		box-sizing: border-box;
		padding: 0 .5rem;
	}

	.site {

		&-body {
			max-width: 69rem;
			margin: 0 auto;
		}

		&-sidebar {
			padding-right: 1rem;
		}

		&-content {
			padding-left: 1rem;
		}

	}

}

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {

	a.external_icon,
	a.external {
		background: url(images/external@2x.png) no-repeat right; // overriding plugin default
		background-size: 10px 10px;
	}

	.post-404 {
		background: url(images/404@2x.png);
		background-size: 100% auto;
	}

}