@media (max-width: 400px) {

	h1,
	.post__title {
		font-size: 1.65rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3,
	h4,
	h5,
	h6 {
		font-size: 1.05rem;
	}

}

@media (min-width: 600px) {

	body {
		font-size: 1.05rem;
		line-height: 1.67;
	}

	blockquote {
		margin: 2rem -1.5rem;
		padding: 2rem 3rem;
	}

	.main-navigation {
		display: block;
		margin: 0.75rem auto;
		padding: 0 2rem;
	}

	.main-navigation__link {
		border-radius: 0.25rem;
		display: inline-block;
		margin: 0 0.5rem;
		transition: background-color 0.15s linear;

		&:hover {
			text-decoration: none;
		}
	}

	.figure--right,
	.figure--alignright {
		float: right;
		margin: 1.25rem -2rem 1.25rem 1.75rem;
	}

	.figure--left,
	.figure--alignleft {
		float: left;
		margin: 1.25rem 1.75rem 1.5rem -2rem;
	}

	.figure--center,
	.figure--aligncenter {
		margin: 1rem -2rem;
		max-width: calc(100% + 4rem);
	}

	.figure--center-small {
		margin: 1em auto;
	}

	.intro,
	.site-content,
	.footer {
		padding: 1.25rem 3rem;
	}

	.intro__text {
		font-size: 1rem;
	}

	.pagination {
		background-color: $bg-primary;
		display: flex;
		padding: 1.5rem;
	}

	.pagination__item-container {
		margin-bottom: 0;
		width: 50%;
	}

	/**
	 * Adding spacing between the links by targeting the link on the left.
	 */

	.pagination__item-container--left {
		padding-right: 2rem;
	}

	/**
	 * Removing margin on homepage navigation.
	 */

	.pagination--home {
		margin: 0;
	}

}

@media (min-width: 900px) {

	.main-navigation {
		max-width: 52rem;
	}

	.main-navigation__list {
		padding: 0 1rem;
	}

	.intro__image-container {
		display: block;
	}

	.site-body {
		margin: 0 auto;
		max-width: 52rem;
	}

	.site-content {
		padding: 2rem;
	}

	.footer {
		padding: 2rem;
		max-width: 48rem;
	}

	.pagination {
		border: 0;
		padding: 0;
	}

	/**
	 * Positioning container for individual prev/next trigger and link.
	 */

	.pagination__item-container {
		align-items: center;
		display: flex;
		height: 100%;
		position: fixed;
		top: 0;
		width: auto;
	}

	/**
	 * Modifier for left-hand-side.
	 */

	.pagination__item-container--left {
		left: 0;

		.pagination__item {
			&:hover {
				.pagination__arrow {
					background-color: transparent;
					margin-left: 0;
					transform: rotate(180deg);
				}
				.pagination__link-container {
					margin-left: 0;
				}
			}
		}

		.pagination__arrow {
			left: 0;
		}

		.pagination__link-container {
			border-radius: 0 0.25rem 0.25rem 0;
			margin-left: -12rem;
			padding-left: 2rem;
		}
	}

	/**
	 * Modifier for right-hand-side.
	 */

	.pagination__item-container--right {
		right: 0;
		text-align: right;

		.pagination__item {
			&:hover {
				.pagination__arrow {
					background-color: transparent;
					margin-right: 0;
					transform: rotate(-180deg);
				}
				.pagination__link-container {
					margin-right: 0;
				}
			}
		}

		.pagination__arrow {
			right: 0;
		}

		.pagination__link-container {
			border-radius: 0.25rem 0 0 0.25rem;
			margin-right: -12rem;
			padding-right: 2rem;
		}
	}

	/**
	 * Arrow trigger.
	 */

	.pagination__arrow {
		background-color: rgba(200, 200, 200, 0.2);
		border-radius: 50%;
		color: $text-light;
		cursor: pointer;
		display: block;
		font-size: 1.25rem;
		height: 2rem;
		line-height: 2rem;
		margin: 0.5rem;
		width: 2rem;
		position: absolute;
		text-align: center;
		transform-origin: 50% 50%;
		transition: background-color 0.1s,
					margin 0.15s,
					transform 0.3s;
		vertical-align: middle;
		z-index: 2;
	}

	.pagination__link-container {
		background-color: $bg-primary;
		display: inline-block;
		font-size: 0.8rem;
		line-height: 1.5;
		padding: 0.75rem;
		transition: margin 0.4s ease-out;
		vertical-align: middle;
		width: 8rem;
	}

	.pagination__link:hover {

		.pagination__link-text {
			color: $link;
			text-decoration: none;
		}

	}

	/**
	 * Modifier for homepage version of pagination.
	 */

	.pagination--home {
		.pagination__link-container {
			display: block;
			line-height: 2;
			width: auto;
		}
	}

}

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {

	.post-404 {
		background: url(images/404@2x.png);
		background-size: 100% auto;
	}

}