html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	@include font(1em);
	line-height: 1.5;
}

body {
	margin: 0;
}

[hidden] {
	display: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

h1 {
	@include h1(1.4rem);
	a {
		text-decoration: none;
	}
}

h2 {
	@include h2(1.35rem);
}

h3 {
	@include h3(1.2rem);
}

h4 {
	@include h4(1.2rem);
}

h5 {
	@include h5(1.1rem);
}

h6 {
	@include h6(1rem);
}

a,
a:link {
	color: $link;
	text-decoration: none;
	transition: color .1s linear;
}

a:visited {
	color: $link-visited;
}

a:hover {
	color: $link-hover;
	text-decoration: underline;
}

a:active {
	color: $link-hover;
	text-decoration: none;
}

b,
strong {
	font-weight: 500;
}

i,
em {
	font-weight: 300;
}

img {
	border: 0;
}

button,
input,
textarea {
	box-sizing: border-box;
	margin: 0;
	color: inherit;
	font: inherit;
}

input,
textarea {
	padding: .65rem .85rem;
	color: $c-tertiary;
	border: 1px solid $c-quinary;
	border-radius: .25rem;
	&:hover,
	&:focus {
		background: $bg-quinary-dark;
		color: $c-tertiary;
	}
}

button,
.btn {
	-webkit-appearance: none;
	display: inline-block;
	padding: .35em .85em;
	background: $bg-primary;
	color: $link-inverted;
	font-family: Karla;
	border: none;
	border-radius: .25rem;
	cursor: pointer;
	transition: background .15s linear;
	&:hover {
		background: $link;
		text-decoration: none;
	}
}

button {
	min-height: 2.5rem;
}

input {
	height: 2.5rem;
}

input[type="checkbox"] {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

label {
	font-size: 1rem;
}

textarea {
	width: 100%;
	overflow: auto;
}

code {
	font-family: Monaco, Consolas, 'Courier New', monospace;
	font-size: .9rem;
}

pre {
	background:  $bg-quinary-dark;
	margin: 2rem 0;
	padding: 1.5rem;
	font-family: Monaco, Consolas, 'Courier New', monospace;
	font-size: .9rem;
	line-height: 1.75;
	white-space: pre-wrap;
	word-wrap: break-word;
}

mark {
	background: $bg-tertiary;
}

dt {
	font-weight: 500;
}

ul li {
	list-style: square;
}

hr {
	box-sizing: content-box;
	height: 1px;
	width: 80%;
	margin: 2rem auto;
	background: $c-quaternary-light;
	border: 0;
}

iframe {
	max-width: 100%;
	margin: 0 auto !important;
}

abbr[title] {
	border-bottom: 1px dotted;
}

small {
	display: inline-block;
	font-size: .8rem;
}

sup {
	position: relative;
	top: -.5rem;
	font-size: .75rem;
	vertical-align: baseline;
}