html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	background: $bg-secondary-dark;
}

[hidden] {
	display: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

html,
body,
p,
li,
dl {
	@include font(1em);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

h1 {
	@include h1(1.4em);
	a {
		text-decoration: none;
	}
}

h2 {
	@include h2(1.35em);
}

h3 {
	@include h3(1.2em);
}

h4 {
	@include h4(1.2em);
}

h5 {
	@include h5(1.1em);
}

h6 {
	@include h6(1em);
}

a,
a:link {
	color: $link;
	text-decoration: none;
	.site-sidebar-text & {
		margin: 0 2px;
		padding: 2px 5px;
		background: $bg-primary;
		color: $link-inverted !important;
		font-weight: 500;
	}
}

a:visited {
	color: $link-visited;
	.site-sidebar-text & {
		color: $c-primary-dark;
		font-weight: 500;
	}
}

a:hover {
	color: $link-hover;
	text-decoration: none;
	.site-sidebar-text & {
		background: $link-inverted;
		color: $c-primary-dark !important;
	}
}

a:active {
	color: $link-hover;
	text-decoration: none;
}

b,
strong {
	font-weight: 500;
}

i,
em {
	font-weight: 300;
}

img {
	border: 0;
}

button,
input,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea,
pre {
	overflow: auto;
}

code,
pre {
	font-family: monospace;
	font-size: 1em;
}

dt {
	font-weight: 500;
}

ul li {
	list-style: square;
	li {
		font-size: 1em;
	}
}

hr {
	box-sizing: content-box;
	height: 1px;
	width: 80%;
	margin: 2em auto;
	background: $c-quarternary-light;
	border: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

small {
	font-size: 80%;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}