// blockquotes

blockquote
	// border-left 5px solid #fee8c0
	margin 1.5em 0
	padding 1em
	background bg-quarternary
	border(solid, c-quinary)
	line-height 1.75
	quotes "\201C""\201D""\2018""\2019"
	p:first-child
		display inline
	p:last-child
		margin-bottom 0

blockquote:before
	color c-secondary
	content open-quote
	font-size 4em
	line-height .01em
	margin-right .25em
	vertical-align -.4em
	font-family EdmondSansRegular

blockquote:before
	content "\201C"