.comments-list
	.comment-meta
		text-align left
		min-height 55px
		margin-left 65px
		fz(0.85em)
	> .comment
		separator(solid, c-quarternary)

.comment
	margin-bottom 1.5em
	padding-bottom 1.5em

.comment-gravatar
	margin 0 1em 1em 0
	float left
	padding 3px
	border-all(solid, c-quinary)

.avatar
	display block
	width 45px

.comment-author
	margin 0
	padding 0.25em 0 0 0

.comment-author-link
	text-decoration none

.comment-meta-item
	display block
	margin-top 0.25em
	text-transform none

.child-comments
	margin-top 1em
	padding-left 1.5em
	border-left 1px solid c-quarternary-light
	> .comment 
		border-bottom none
		padding-bottom 0
		padding-top 1em
		margin-bottom 0.5em