button,
input
	border(solid, cquarternary)
	line-height 1.5	
	-webkit-appearance none

button
	background bg-medium
	padding 5px 10px
	height 34px
	&:hover
		cursor pointer
		background bg-light

input
	padding 7px 10px
	height 18px