.btn
button
.pushbutton-wide
.post-edit-link
.comment-reply-link
	font-family Karla
	padding 0.25em 0.5em
	border-radius 0

button
input
textarea
	background bg-senary
	border-all(solid, c-quarternary)
	line-height 1.5	
	-webkit-appearance none
	border-radius 0
	fz(1em)

input
textarea
	padding 7px 10px
	// height 18px
	width 100%
	-o-box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box
	&:hover
		border-color c-primary-light

button
input[type="submit"]
	background link
	color link-inverted
	width auto
	border none
	&:hover
		cursor pointer
		background bg-primary
		color link-inverted

.contact-submit
	margin-top 0