button
input
textarea
	background bg-senary
	border-all(solid, c-quarternary)
	line-height 1.5	
	-webkit-appearance none
	fz(1em)

input
textarea
	padding 7px 10px
	// height 18px

button
input[type="submit"]
	background link
	color link-inverted
	padding 5px 10px
	height 34px
	border none
	line-height 1
	&:hover
		cursor pointer
		background bg-primary
		color link-inverted

.contact-submit
	margin-top 0