img
	max-width 100%
	height auto

.post-thumbnail-wrapper
	float right
	margin 1em 0 0.5em 0.5em

.post-thumbnail
	width 75px
	height 75px
	margin 0 auto

.attachment-post-thumbnail
	bdr(100px)
	zero()

.wp-smiley
	width 1em

.post figure
.post-figure
.wp-caption
	margin 0
	img
		display block

.post figcaption
.post-figcaption
.wp-caption-text
	padding 0.5em
	color c-primary
	background bg-tertiary