img
	max-width 100%
	height auto

.post-thumbnail-wrapper
	float right
	margin 1em 0 0.25em 0.25em

.post-thumbnail
	width 75px
	height 75px
	margin 0 auto

.attachment-post-thumbnail
	bdr(100px)
	zero()