img
	height auto
	margin 0 -1.25em
	width 110%

.post-thumbnail-wrapper
	float right
	margin 1em 0 0.5em 0.5em

.post-thumbnail
	width 75px
	height 75px
	margin 0 auto

.attachment-post-thumbnail
	bdr(100px)
	zero()

.wp-smiley
	width 1em