.main-navigation
	text-align center
	.main-navigation-link
		display block

.pagination
.post-navigation
	overflow hidden
	margin-top 0.5em
	text-transform uppercase
	fz(0.85em)

.more-link
	background link
	padding 0.25em 0.5em
	text-decoration none
	&:link
	&:visited
		color link-inverted
	&:hover
		background bg-secondary