.main-navigation
	text-align center
	.main-navigation-link
		display block

.pagination
.post-navigation
	overflow hidden
	margin-top 1em
	text-transform uppercase
	fz(0.85em)

.post-pagination
	padding-bottom 1em
	separator(solid, c-quinary)

.more-link
.comment-reply-link
	display inline-block
	background link
	padding 0.25em 0.5em
	text-decoration none
	&:link
	&:visited
		color link-inverted
	&:hover
		background bg-primary

.prev-link
.next-link
.post-edit-link
	background bg-primary
	padding 0.25em 0.5em
	text-decoration none
	&:link
	&:visited 
		color link-inverted
	&:hover
		background link

.prev-post-link
.next-post-link
	display inline-block
	line-height 1.5

.post-edit-link
	margin-bottom 1em
	display inline-block

.cancel-comment-reply
	background bg-quarternary
	color c-tertiary-dark
	margin-left 0.5em
	&:hover
		background bg-tertiary
		color c-primary

.prev-link-wrapper
.next-link-wrapper
	line-height 2

.next-link-wrapper
	text-align right

.prev-post-link
.next-post-link
	text-transform none