// CSS for plugins

// external icon

a.external_icon
    background url('images/external.png') no-repeat scroll right center
    padding-right 13px

// footnotes

.footnotes
    fz(0.75em)
    padding 0.75em 0
    border-top 1px dashed c-quinary
    li
        color c-tertiary

.footnotereverse a
    text-decoration none

// old-post-notifier

.ikaz {
    background: url("http://hey.georgie.nu/wp-content/plugins/old-post-notifier/ikaz.png") no-repeat scroll 2.2em center #FFF6BF;
    border-bottom: 2px solid #FFD324;
    border-color: #FFD324;
    border-top: 2px solid #FFD324;
    color: #444444;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    padding: 1em 1.5em 1em 5.5em;
}

.ikaz .kapat {
    float: right;
    position: relative;
    right: -5px;
    top: -5px;
}

.ikaz a {
    color: #817134;
}