// CSS for plugins

// archives 

.car-toggler
	font-family Karla

// contact form

.contact-form
	textarea
		width 100% !important
	.pushbutton-wide
		fz(0.9em)

// external icon

a.external_icon
	background url('images/external.png') no-repeat scroll right center !important // overriding plugin default
	padding-right 13px

// footnotes

.footnotes
	fz(0.75em)
	padding 0.75em 0
	border-top 1px dashed c-quinary
	li
		color c-tertiary

.footnotereverse a
	text-decoration none

// old-post-notifier

.ikaz {
	background: url("http://hey.georgie.nu/wp-content/plugins/old-post-notifier/ikaz.png") no-repeat scroll 2.2em center #FFF6BF;
	border-bottom: 2px solid #FFD324;
	border-color: #FFD324;
	border-top: 2px solid #FFD324;
	color: #444444;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding: 1em 1.5em 1em 5.5em;
}

.ikaz .kapat {
	float: right;
	position: relative;
	right: -5px;
	top: -5px;
}

.ikaz a {
	color: #817134;
}

// icomoon

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?56qzmq');
	src:url('fonts/icomoon.eot?#iefix56qzmq') format('embedded-opentype'),
		url('fonts/icomoon.woff?56qzmq') format('woff'),
		url('fonts/icomoon.ttf?56qzmq') format('truetype'),
		url('fonts/icomoon.svg?56qzmq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-steam:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
.icon-lastfm:before {
	content: "\e604";
}
.icon-delicious:before {
	content: "\e605";
}
