// search form

.search-form
	text-align center
	padding-top 10px

.search-form-input
	background bg-senary
	height 34px
	width 75%
	// border-all(solid, c-quarternary)
	border none

.search-form-submit
	background bg-primary
	color link-inverted
	&:hover
		background bg-tertiary
		color c-primary

.search-listing
	.post-title
		text-align left