// search form

.search-form
	text-align center
	padding-top 10px

.search-form-input
	background bg-senary
	height 34px
	width 71%
	vertical-align middle
	// border-all(solid, c-quarternary)
	border none

.search-form-submit
	background bg-primary
	color link-inverted
	fz(1.1em)
	margin-left 3px
	vertical-align middle
	padding 5px 10px
	height 34px
	&:hover
		background bg-tertiary
		color c-primary

.search-listing
	.post-title
		text-align left
	.post .post-title
		fz(1.35em)

.category-listing
	.post-thumbnail-wrapper
		display none

.category-title
	text-align left

.search-listing-intro
.category-listing-intro
	padding-bottom 1em
	margin-bottom 0
	separator(solid, c-quinary)

.category-listing-intro
	padding-botom 0

.search-highlight
	background bg-tertiary
	color c-primary-dark