// search form

.search-form
	overflow hidden
	margin-top 30px

.search-form-input
	background bg-tertiary
	float left
	height 34px
	width 71%
	vertical-align middle
	font-family Karla
	border none
	color c-primary-dark
	fz(1.1em)
	&:hover
	&:focus
		background bg-senary

.search-form-submit
	background bg-primary
	float right
	height 34px
	width 29%
	color link-inverted
	fz(1.1em)
	vertical-align middle
	padding 5px 10px
	&:hover
		background bg-senary
		color c-primary

.search-listing
	.post
		border-bottom none
	.post-title
		text-align left
	.post .post-title
		fz(1.35em)

.category-listing
	.post-thumbnail-wrapper
		display none

.category-title
.error-title
	text-align left

.search-listing-intro
.category-listing-intro
	padding-bottom 1em
	margin-bottom 0
	separator(solid, c-quinary)

.category-listing-intro
	padding-botom 0

.search-highlight
	background bg-tertiary
	color c-primary-dark