// sidebar

.site-sidebar-heading
	color bg-senary
	font-family Karla
	margin-bottom 0.5em
	margin-top 1.5em
	& + .site-sidebar-text
		margin-top 0

.site-sidebar-icon
	display inline-block
	i
		display block
		padding 0.25em
		fz(1.5em)
		color c-primary-dark
	i:hover
		color link-inverted

.site-sidebar-text
	color c-primary-dark